MySQL-python==1.2.5
PyYAML==3.11
Unidecode==0.04.17
awesome-slugify==1.6.2
html2rest==0.2.2
html2text==2015.2.18
ipdb==0.8
ipython==2.4.1
peewee==2.4.7
pyaml==15.02.1
regex==2014.12.24
wsgiref==0.1.2
