{% extends "index.html" %} {% block title %} &ndash; {{ _('Category %(name)s',
name=category) }}{% endblock %} {% set summarise = True %}
{% block body_class %}nav-{{ category.slug }} {% endblock %}
{% block content %}
<div class="category-header">
  <h1>{{ category }}</h1>
  {% if category.slug in ['programacion', 'herramientas', 'linux',
  'infraestructura', 'ia', 'personal', 'documentacion', 'finanzas'] %}
  <div class="category-hero">
    <img
      src="{{ SITEURL }}/images/categories/{{ category.slug }}.png"
      alt="{{ category }}"
      width="1408"
      height="768"
      loading="lazy"
    />
  </div>
  {% endif %}
</div>
{{ super() }} {% endblock %}
